.PhanLoaiVienChuc__item.ant-radio-wrapper {
	cursor: initial !important;
	pointer-events: none !important;
	.ant-radio,
	.ant-radio-input {
		cursor: initial !important;
		pointer-events: none !important;
	}
}

.PhanLoaiVienChuc__item.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.PhanLoaiVienChuc__item .ant-radio-input:focus + .ant-radio-inner {
	border-color: #d9d9d9 !important;
	box-shadow: none !important;
}
