.avatar-container {
  width: 140px;
  height: 180px;

  .ant-image {
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}