

.lich-tuan-list {
	.ant-tag-checkable {
		padding: 2px 7px;
		font-size: 14px;
		border: 1px solid #f0f0f0;
		border-radius: @border-radius;

		.ant-tag-checkable-checked {
			border: none;
		}
	}
}
